<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://ryanleonduty.github.io/shotndrop/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>AqOhE9Gb2gsN6w9MjuEE1qw18hgQXGdn9CKF2wdsFRM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
</dict>
</plist>
